T-KT.T-KT-Jp-ext::before {
    background-image: url(//ssl.gstatic.com/ui/v1/icons/mail/gm3/2x/star_fill_googyellow500_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}